<div class="container-white">
  <%= render 'shared/navbar-home' %>
    <div class="index-header-content">

    <% if @itineraries.empty? %>
      <div class='cloud'></div>
      <div class="cloud_two"></div>
      <h3 style="margin-left: 15px; margin-bottom: 30px;" >No itineraries yet in this country, be the first to post one 😀 </h3>
    <% else %>
      <h1 style="font-weight: bolder; margin-left: 15px"> Itineraries in <%= @itineraries.first.country.capitalize %></h1>
       <div class='cloud'></div>
        <div class="cloud_two"></div>
      <h2 style="margin-bottom: 90px; color:#CDCDCD; margin-left: 15px">Collect experiences and tips from real travelers!</h2>
    <% end %>


      <%= form_tag itineraries_path, method: :get do %>
        <div class="search-module">
          <div class="search-bar-main-container">
            <i class="fas fa-search"></i>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control-override search-bar-index search-content",
              placeholder: "Choose a country", autocomplete:"off"
            %>
             <i class="far fa-hourglass"></i>

             <%= select_tag :duration,
              options_for_select([["All", "all"], ["1-7 days", "1-7"], ["8-14 days", "8-14"], ["15-30 days", "15-30"], ["30 days +", "30+"]], params[:duration]),
              class: "form-control-override select2 search-bar-index search-content-two",
              placeholder: "Duration"
            %>
            <%= button_tag type: "submit", id: "index-go", class:'button-dromo-index' do %>
              Search
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <div class="row" style="margin-top: 40px">
    <div class="cards">
      <% @itineraries.each do |itinerary| %>
        <div class="col-xs-12 col-md-4">
          <%= render 'shared/card-main-container', itinerary: itinerary %>
        </div>
      <% end %>
    </div>
  </div>
</div>
