<div class="container-white">
  <%= render 'shared/navbar-home' %>
  <div class="tabs-container">
    <div class="tabs">
      <h2>DashBoard</h2>
      <p style="color: #C4C4C4;"><%= pluralize(@favorites.count, 'favorite', 'favorites') %> in <%= pluralize(@countries.count, 'country', 'countries') %></p>
    </div>
    <div class="tabs-links-container hidden-xs hidden-sm">
      <%= link_to 'My Itineraries', owner_itineraries_path %>
      <%= link_to 'My Favorites', '#', class:'tabs-active' %>
    </div>
  </div>

  <div class="favorite-cards">
    <div class="row">
    <% @favorites_per_country.each do |country, favorites| %>
      <%= link_to country_owner_favorites_path(name: country) do %>
        <div class="col-xs-12 col-sm-3">
          <div class="favorite-card">
            <%= image_tag "flags/#{country.downcase}.png", alt: "#{country.downcase}-flag", width: 70 %>
            <h4><%= country %></h4>
            <p><%= pluralize(favorites.count, 'favorite', 'favorites') %></p>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
