<div class="container-white">
  <%= render 'shared/navbar-home' %>
  <div class="tabs-container">
    <div class="tabs">
      <h2>DashBoard</h2>
      <p style="margin-left: 10px;"><%= pluralize(@itineraries_count, 'favorite', 'favorites') %></p>
    </div>
    <div class="tabs-links-container hidden-xs hidden-sm">
      <%= link_to 'My Itineraries', owner_itineraries_path %>
      <%= link_to 'My Favorites', '#', class:'tabs-active' %>
    </div>
  </div>

  <% @countries_list.each do |country| %>
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="card-flag-main-container">
        <%= link_to '#' do %>
          <%= image_tag ("#{country.downcase}.svg"), alt: country, height:'150' %>
        <% end %>
        <p><%= pluralize(@itineraries.where(country: country).count, 'step', 'steps') %></p>
        <p><%= country %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
