<%= content_for(:after_js) do %>
  <%= javascript_pack_tag 'mapWithRoutes' %>
<% end %>

<div id="map-wrapper">
  <div
    id="map"
    style="width: 100%;
    height: 100vh;"
    data-markers="<%= @markers.to_json %>"
  ></div>

  <%= render "shared/edit-step-form" %>

  <% @steps.each do |step| %>
    <div data-step-id="<%= step.id %>" class="edit-step-form-main-container hidden">

      <div class="edit-step-info">

        <div class="edit-step-form-header">
          <%= image_tag "flags/#{@itinerary.country.parameterize}.png" %>
          <h4><%= step.city.capitalize %></h4>
        </div>

        <%= simple_form_for (["owner", @itinerary, step]) do |f| %>
          <div class="edit-step-form-content">
              <%= f.error_notification %>
              <div class="edit-step-form-title">
                <%= f.input :title, placeholder: 'Entitle this step' %>
              </div>
              <div class="edit-step-form-description">
                <%= f.input :description, placeholder: 'What did you like the most...' %>
              </div>
              <div class="edit-step-form-category-rating-content">
                <%= f.input :category %>
                <%= f.input :rating, as: :select, collection: 1..5 %>
              </div>
          </div>
          <div class="edit-step-form-footer">
            <%= f.submit 'Save', class:'h-button' %>
          </div>
        <% end %>

      </div>

      <div class="edit-step-dropzone">
        <%= simple_form_for [:owner, step, @photo], html: { class: "dropzone", id: "dropzone-#{step.id}", 'data-step-photos-url' => owner_step_photos_path(step) } do |f| %>
          <div class="fallback">
            <input type="file" multiple name="photos[]">
          </div>
        <% end %>
      </div>
      <%# step.photos.with_picture.take(5).each do |photo| %>
        <%#= cl_image_tag photo.picture %>
        <%#= link_to 'Delete', owner_photo_path(photo), method: :delete, remote: true %>
      <%# end %>

    </div>
  <% end %>

</div>




