<div class="create-itinerary-main-container">
  <%= link_to owner_intineraries_path, class:'arrow-back-home' do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
  <%= simple_form_for ["owner", @itinerary] do |f| %>
    <%= f.error_notification %>
    <%= f.input :country %>
    <%= f.input :duration_in_days %>
    <div class="create-itinerary-transport-crew">
      <%= f.input :transportation %>
      <%= f.input :crew %>
    </div>
    <div class="create-itinerary-date">
      <%= f.input :start_date %>
    </div>
    <%= f.submit "Add", method: :post, class: "h-button" %>
  <% end %>
</div>
