<div class="create-itinerary-main-container">

  <div class="create-itinerary-header">
    <%= link_to owner_itineraries_path, class:'arrow-back-home' do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
    <h4>New Itinerary</h4>
    <%= cl_image_tag @owner.photo, alt: "Avatar" %>
  </div>
  <div class="create-itinerary-content-form">
    <%= simple_form_for ["owner", @itinerary] do |f| %>
      <%= f.error_notification %>
      <%= f.input :country, as: :select, collection: Itinerary.country.options, input_html: { class: 'select2' }, label: false, prompt: 'Choose a country' %>
      <%= f.input :duration_in_days %>
      <div class="create-itinerary-date">
        <%= f.input :start_date %>
      </div>
      <div class="create-itinerary-transport-crew">
        <%= f.input :transportation %>
        <%= f.input :crew %>
      </div>
    </div>
    <%= f.submit "Create", method: :post , class:'create-itinerary-footer' %>
  <% end %>
</div>
