<%= link_to itinerary_path(itinerary) do %>
<div class="card-main-container">
  <div class="card-info-container">
    <div class="card-info-right">
      <i class="<%= icon_by_crew(itinerary.crew) %> crew"></i>
    <p><%= itinerary.crew %></p>
    </div>
    <div class="card-info">
      <i class="far fa-clock"></i>
      <p><%= get_duration(itinerary.duration_in_days) %></p>
    </div>
    <div class="hovereffect card-image">
      <img class="img-responsive" src="<%= cl_image_path itinerary.steps.first.photos.first.picture %>" alt="">
      <div class="overlay">
      </div>
    </div>
  </div>
  <div class="card-btn">
    <%= link_to itinerary_path(itinerary) do %>
      Discover <i class="fas fa-arrow-right"></i>
    <% end %>
  </div>
  <div class="card-content">
    <h3><%= itinerary.country %></h3>
    <h6><i class="fas fa-map-pin"></i> <%= itinerary.steps.count %> steps</h6>
    <p>by <%= itinerary.owner.name %></p>
  </div>
</div>
<% end %>
