<div id="over_map">
  <div class="edit-step-main-container">
    <div class="edit-step-header-container">
      <h4><%= @itinerary.country %></h4>
      <%= cl_image_tag @itinerary.owner.photo %>
    </div>
    <div id='new_point' class="edit-step-search-bar-container">
      <%= simple_form_for (["owner", @itinerary, @step]) do |f| %>
        <%= f.input :city %>
        <%= f.submit class:'edit-button' %>
      <% end %>
    </div>
    <div class="edit-step-content-main">
      <% @steps.each_with_index do |step, index| %>
        <div class="edit-step-content">
          <span><%= index + 1 %></span>
          <span id="points" class="js-point" data-step-id="<%= step.id %>"><%= step.city %></span>
          <i class="<%= icon_by_category(step.category) %> category"></i>
        </div>
      <% end %>
    </div>
    <%= link_to itinerary_path(@itinerary) do %>
      <div class="edit-step-footer-container">
        <span>Edit</span>
        <i class="fas fa-arrow-right"></i>
      </div>
    <% end %>
  </div>
</div>
