<div class="modal-container modal fade" id="myModal-<%= step.id %>" tabindex="-1" role="dialog"   aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-title" id="myModalLabel">
        <div class="slickContainer">
          <% step.photos.each do |photo| %>
            <div class="slickItem"><%= cl_image_tag photo.picture, height: 300 %></div>
          <% end %>
        </div>
      </div>
      <div class="modal-body-header">
        <h4><%= step.title %></h4>
        <% if user_signed_in? %>
          <% found_favorite_for_step = current_user.favorites.find { |favorite| favorite.step_id == step.id } %>
          <% if found_favorite_for_step  %>
            <%= link_to favorite_path(found_favorite_for_step), method: :delete, remote: true, data: { step_id: step.id} do %>
              <i class="fas fa-heart heart-modal"></i>
            <% end %>
          <% else %>
            <%= link_to step_favorites_path(step), method: :post, remote: true, data: { step_id: step.id } do %>
              <i class="far fa-heart heart-modal" data-step-id="<%= step.id %>"></i>
            <% end %>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path do %>
            <i class="far fa-heart heart-modal"></i>
          <% end %>
        <% end %>
      </div>
      <!-- <i class="<%= icon_by_category(step.category) %> category"></i> -->
      <div class="modal-body-content">
        <p><%= step.description %></p>
      </div>
      <div class="modal-body-footer">
        <div class="modal-body-footer-left">
          <%= cl_image_tag @itinerary.owner.photo %>
        </div>
        <div class="modal-body-footer-right">
          <h5><%= @itinerary.owner.name %></h5>
          <p><%= @itinerary.owner.bio %></p>
        </div>
      </div>

      <div class="modal-foot">
        <div class="modal-foot-left">
          <i class="<%= icon_by_category(step.category) %> category" style="margin-left: 0;"></i>
          <p><%= step.category %></p>
        </div>
        <div class="modal-foot-right">
          <p>Rating</p>
          <span><%= step.rating %> / 5</span>
        </div>
      </div>
    </div>
  </div>
</div>
