<div class="modal-container modal fade" id="myModal-<%= step.id %>" tabindex="-1" role="dialog"   aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

        <h4 class="modal-title" id="myModalLabel">
          <%= cl_image_tag step.photos.first.picture, height: '300' %>
        </h4>

        <div class="modal-body-header">
          <h4><%= step.title %></h4>
          <i class="far fa-heart"></i>
        </div>
        <!-- <i class="<%= icon_by_category(step.category) %> category"></i> -->
        <div class="modal-body-content">
          <p><%= step.description %></p>
        </div>
        <div class="modal-body-footer">
          <div class="modal-body-footer-left">
            <%= cl_image_tag @itinerary.owner.photo %>
          </div>
          <div class="modal-body-footer-right">
            <h5><%= @itinerary.owner.name %></h5>
            <p><%= @itinerary.owner.bio %></p>
          </div>
        </div>

        <div class="modal-foot">
          <div class="modal-foot-left">
            <!-- <i class="<%= icon_by_category(step.category) %> category" style="margin-left: 0;"></i> -->
            <p><%= step.category %></p>
          </div>
          <div class="modal-foot-right">
            <p style="font-weight: bolder;">Rating</p>
            <p>1</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
            <p>5</p>
          </div>
        </div>
    </div>
  </div>
</div>
