<div class="container-white-home">
  <div class="home-navbar">
    <%= render 'shared/navbar-home' %>
  </div>
  <div class="flashes">
    <%= render 'shared/flashes' %>
  </div>
  <div class="home-header">
    <div class="header-content">
      <h1>Get inspiration for your travels</h1>
      <h2 class="subtitle">Discover amazing itineraries from <br>travelers' experiences</br></h2>
      <div class="header-buttons">
        <button class="button-dromo button-create">
          <i class="far fa-compass"></i>
          <p>Create</p>
        </button>
        <div class="search-home">
          <%= form_tag itineraries_path, method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              id: "search-input",
              placeholder: "Type a country"
            %>
          <% end %>
          <button class="button-dromo" id="orange">
            <i class="fas fa-search"></i>
            <p>Search</p>
          </button>
        </div>
      </div>
    </div>
    <div class="header-zeppelin">
      <%= render "shared/zeppelin" %>
    </div>
  </div>
  <div class="home-cards">
    <h2>Latest itineraries</h2>
    <div class="cards">
      <% @latest_itineraries.each do |itinerary| %>
        <div class="col-xs-12 col-md-4">
          <div class="card-main-container">
            <div class="card-image" style="background-image: url(<%= cl_image_path itinerary.steps.first.photos.first.picture %>)">
            </div>
            <div class="card-btn">
              <%= link_to itinerary_path(itinerary) do %>
                Discover <i class="fas fa-arrow-right"></i>
              <% end %>
            </div>
            <div class="card-info">
              <span class="card-info-left"><i class="far fa-clock"></i>  <%= get_duration(itinerary.duration_in_days) %></span>
              <span class="card-info-right"><i class="fas fa-users"></i> yo</span>
            </div>
            <div class="card-content">
              <h3><%= itinerary.country %></h3>
              <p>by <%= itinerary.owner.name %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%# javascript_tag 'https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js' %>
<%= javascript_pack_tag 'zeppelin' %>
